.item {
  width: 48px;
  height: 48px;

  border: none;
  background: transparent;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.2s;
}

.item:hover {
  background: #f3f3f3;
}

.item svg {
  width: 20px;
  height: 20px;
  color: #666;
}

.primary {
  width: 56px;
  height: 56px;

  background: #ffd400;
}

.primary svg {
  width: 26px;
  height: 26px;
  color: #000;
}