.sidebar {
    position      : absolute;
    top           : 86px;
    right         : 24px;
    width         : 72px;
    background    : white;
    border-radius : 20px;
    z-index       : 1000;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding       : 20px 0;
    box-shadow    : 0 4px 12px rgba(0, 0, 0, .1);
}

.top,
.menu,
.bottom {
    display       : flex;
    flex-direction: column;
    gap           : 12px;
    align-items   : center;
}

.divider {
    width     : 32px;
    opacity   : .4;
    height    : 1px;
    background: #e5e5e5;
    margin    : 16px 0;
}